.page {
  font-family: 'Inter', Arial, sans-serif;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  margin: 0 auto;
  /* выше установили ограничение по максимальной ширине */
  max-width: 1600px;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  /*font-family: 'Helvetica Neue', Arial, sans-serif;*/
  min-width: 1100px;
}

/** {*/
/*  outline: 1px solid red;*/
/*}*/

