.header{
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  z-index: -2;
  /*border-bottom-color: red;*/
  /*border-width: 1px ;*/
  /*border-style: solid;*/
}
